{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="col-lg-8 offset-lg-2">
      <h1>{{ .Title }}</h1>
      {{ .Content }}

      {{ if .Params.contact_form.enable }}
      {{ with .Params.contact_form }}
      <div>
        <p>Napište nám:</p>
        </p>
        <form id="contact-form" method="post" action="{{ .form_action }}" role="form">
          <div class="form-group">
            <input type="email" placeholder="Váš email" class="form-control" name="email" id="email" required>
          </div>
          <div class="form-group">
            <textarea rows="6" placeholder="Zpráva" class="form-control" name="message" id="message" required></textarea>
          </div>
          <div id="cf-submit">
            <button type="submit" id="contact-submit" class="btn" value="Odeslat">Odeslat</button>
          </div>
        </form>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
