/*=== MEDIA QUERY ===*/
html {
  background-color: #353b43;
  color: #737f8a;
}
body {
  background-color: #353b43;
  font-family: "Anaheim", sans-serif;
  color: #737f8a;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Quattrocento Sans", sans-serif;
  color: #afbac4;
}
p {
  font-family: "Quattrocento Sans", sans-serif;
}

[scroll-behavior=smooth] {
  scroll-behavior: smooth;
}

pre {
  color: #afbac4;
}

/*=================================================================
  Basic Setup
==================================================================*/
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #57cbcc;
}

::selection {
  color: #fff;
  background: #57cbcc;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

figure {
  margin: 0;
}

a {
  color: #fff;
  transition: all .3s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #6CB670;
}

.kill-margin-bottom {
  margin-bottom: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.mb-50 {
  margin-bottom: 50px;
}

.color {
  color: #6CB670;
}

.sub-title {
  padding: 0 0 50px;
}

.sub-title>h3 {
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  display: inline-block;
  padding: 5px 25px;
  text-transform: uppercase;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.bg-one {
  background-color: #353b43;
}

.bg-dark {
  background: #242930;
}

.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

.btn {
  cursor: pointer;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

figure {
  margin: 0;
}

a {
  transition: all .2s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #57cbcc;
}

.mt-20 {
  margin-top: 20px;
}

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 50px 0;
}

.btn:focus {
  color: #ddd;
}

#home {
  position: relative;
}

.title {
  padding-bottom: 60px;
}

.title h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
}

.title h2 span {
  color: #57cbcc;
}

.title p {
  color: #666;
}

.title.title-white h2 {
  color: #fff;
}

.bg-gray {
  background: #f9f9f9;
}

.section-bg {
  background: #292F36;
}

.logo {
  margin-top: 10px;
  display: inline-block;
}

/*=================================================================
  Navigation
==================================================================*/
.navigation {
  background-color: #1d2024;
  width: 100%;
  margin-bottom: 0;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #57cbcc;
}

.navbar-toggler:focus {
  outline: 0;
}

.hero-area {
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=================================================================
  Latest Posts
==================================================================*/
.post-block {
  background-color: #292F36;
  margin-bottom: 10px;
}

.post-block .content {
  padding: 20px;
}

.post-block .content h3 {
  margin: 0 0 6px;
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
}

/*=================================================================
  Footer section
==================================================================*/
.copyright {
  padding: 20px 0;
  color: #fff;
}

.copyright img {
  margin-bottom: 15px;
}

.copyright p {
  margin-top: 10px;
}

#scrollUp {
  border: 1px solid #4e595f;
  bottom: 15px;
  color: #fff;
  display: none;
  padding: 8px 12px;
  position: fixed;
  right: 20px;
  z-index: 600;
}

#scrollUp:hover {
  background-color: #57cbcc;
  border: 1px solid #57cbcc;
}

/*=============*/
.post-pagination {
  display: inline-block;
  margin-bottom: 20px;
}

.post-pagination ul li {
  margin-right: 5px;
  float: left;
}

.post-pagination ul li:last-child {
  margin-right: 0;
}

.post-pagination ul li.disabled a {
  cursor: not-allowed;
}

.post-pagination ul li.disabled a:hover {
  background-color: #2E373C;
  color: #9aa8b3;
}

.post-pagination ul li a {
  background-color: #30393e;
  color: #9aa8b3;
  display: block;
  padding: 8px 18px;
}

.post-pagination ul li a:hover,
.post-pagination ul li.active a {
  background-color: #6CB670;
  color: #fff;
}

.form-group:last-child,
.form-group:last-child input {
  margin: 0;
}

.form-control-meghna .form-control {
  background-color: transparent;
  padding: 5px 10px;
  color: #ddd;
  border: 1px solid rgba(236, 239, 241, 0.07);
}

.form-control-meghna .form-control:focus {
  border-color: #57cbcc;
  box-shadow: 0 0 0 0.2rem rgba(0, 174, 255, 0.432);
}

.pagination {
  text-align: center;
  display: block;
  margin-top: 20px;
}

.pagination>li {
  display: inline-block;
}

.pagination .page-item .page-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 0;
  background-color: #26292e;
  border: 1px solid #26292e;
  text-align: center;
  margin-right: 6px;
  font-weight: 700;
  color: #55606a;
}

.pagination .page-item .page-link:hover {
  background: #57cbcc;
  border-color: #57cbcc;
  color: #fff
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  border-radius: 0;
}

.pagination .page-item.active .page-link {
  background: #57cbcc;
  color: #fff;
  border-color: #57cbcc;
}
