<footer id="footer">
  <div class="container">
    <div class="row wow fadeInUp" data-wow-duration="500ms">
      <div class="col-xl-12">
        {{"<!-- copyright -->" | safeHTML}}
        <div class="copyright text-center">
          <a href="{{ site.Home.Permalink }}">
            <img src="{{ site.Params.footerlogo | absURL }}" alt="{{ site.Title }}" />
          </a>
          <br>
          <p>{{ site.Params.copyright | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>

{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}
