{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <h1>{{ .Title }}</h1>
        <ul class="list-inline mb-50">
            <li class="list-inline-item"><em>Autor: {{ .Params.Author }}</em></li>
            <li class="list-inline-item"><em>{{ dateFormat "2. January 2006" .Date }}</em></li>
        </ul>
      </div>
      <div class="col-lg-10 offset-lg-1">
        <div class="post-single-content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
